# Section 1: Printing Messages

In [ ]:
# Part 1
print("Hello, Python learners! Today we start our coding journey.")

# Challenge
print("""Hello, my name is Noor.
My favorite programming language is Python.
Excited to learn and code!""")

Hello, Python learners! Today we start our coding journey.
Hello, my name is Noor.
My favorite programming language is Python.
Excited to learn and code!

# Section 2: Variables and Data Types

In [ ]:
# Part 1
age = 19
print(f"I am {age} years old.")

# Challenge
my_integer = 42
my_float = 3.14
my_string = "Python"
print(f"Integer: {my_integer}, Float: {my_float}, String: '{my_string}'")

I am 19 years old.
Integer: 42, Float: 3.14, String: 'Python'

# Section 3: Working with Strings

In [ ]:
# Part 1
text = "Python is amazing"
print(text[10:])

# Challenge
first_name = "Noor"
last_name = "Maghraby"
full_name = first_name + " " + last_name
print(full_name.upper())

amazing
NOOR MAGHRABY

# Section 4: Basic Operations

In [ ]:
# Part 1
width = 5
height = 10
area = width * height
print(f"The area of the rectangle is {area}")

# Challenge
a = 20
b = 7
print(f"Addition: {a + b}")
print(f"Subtraction: {a - b}")
print(f"Multiplication: {a * b}")
print(f"Division: {a / b}")
print(f"Modulo: {a % b}")

The area of the rectangle is 50
Addition: 27
Subtraction: 13
Multiplication: 140
Division: 2.857142857142857
Modulo: 6

# Section 5: Lists and Tuples

In [ ]:
# Part 1
favorite_foods = ["Pizza", "Burger", "Sushi", "Pasta", "Ice Cream"]
print(favorite_foods)
print(favorite_foods[2])

# Challenge
favorite_foods_tuple = tuple(favorite_foods)
try:
    favorite_foods_tuple[0] = "Tacos"  # This will raise an error
except TypeError as e:
    print("Error:", e)

['Pizza', 'Burger', 'Sushi', 'Pasta', 'Ice Cream']
Sushi
Error: 'tuple' object does not support item assignment

# Section 6: String Manipulation and Slicing

In [ ]:
# Part 1
sentence = "Learning Python is fun!"
print(sentence[9:15])

# Challenge
new_sentence = sentence.replace("fun", "awesome")
print(new_sentence)

Python
Learning Python is awesome!

# Section 7: Dictionaries

In [ ]:
# Part 1
student = {
    "name": "Noor",
    "age": 19,
    "grade": "A"
}
print(student)

# Challenge
student["city"] = "Cairo"
print(student)

{'name': 'Noor', 'age': 19, 'grade': 'A'}
{'name': 'Noor', 'age': 19, 'grade': 'A', 'city': 'Cairo'}

# Section 8: Basic Arithmetic Operations

In [ ]:
# Part 1
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print(f"Sum: {num1 + num2}")
print(f"Difference: {num1 - num2}")
print(f"Product: {num1 * num2}")
print(f"Division: {num1 / num2}")

# Challenge
if num1 % num2 == 0:
    print("Divisible")
else:
    print("Not Divisible")

Enter first number: 3
Enter second number: 4
Sum: 7.0
Difference: -1.0
Product: 12.0
Division: 0.75
Not Divisible