# Lists and List Slicing

In [ ]:
numbers =[1,2,3,8,5,10,11,12,13,4,15]
print(numbers[0:5])

[1, 2, 3, 8, 5]

In [ ]:
print(numbers[-3:])

[13, 4, 15]

In [ ]:
print(numbers[3:8])

[8, 5, 10, 11, 12]

In [ ]:
fruits = ["Kiwi", "Peach", "Watermelon", "Blueberry", "Pomegranate"]

fruits.append("Cherry")
fruits.append("Papaya")


fruits.pop()

print(fruits)

['Kiwi', 'Peach', 'Watermelon', 'Blueberry', 'Pomegranate', 'Cherry']

# Tuples and Dictionaries

In [ ]:
cities = ("Cairo", "Berlin", "Rome", "Amsterdam", "NewYork")
print(cities[1])

Berlin

In [ ]:
cities[1]="alex" #error because tuple doesn't support element changing

In [ ]:
person = {'name': 'John', 'age': 30, 'city': 'New York'}

print(person['age'])

person['job'] = 'farmer'

person.pop('city')
print(person)

30
{'name': 'John', 'age': 30, 'job': 'farmer'}

In [ ]:
people = {'Nour': 25, 'Omar': 20, 'Ahmed': 19}

for name, age in people.items():
    print(f"{name} is {age} years old.")

Nour is 25 years old.
Omar is 20 years old.
Ahmed is 19 years old.

# Conditional Statements

In [ ]:
age = int(input("Enter your age: "))

if age >= 18:
    print("Adult")
else:
    print("Minor")

Enter your age: 19
Adult

In [ ]:
number = int(input("Enter a number: "))

if number % 2 == 0:
    print("Even")
else:
    print("Odd")

Enter a number: 7
Odd

In [ ]:
score = int(input("Enter your score: "))

if score >= 90:
    print("A")
elif 70 <= score <= 89:
    print("B")
elif 50 <= score <= 69:
    print("C")
else:
    print("F")

Enter your score: 67
C

# Loops

In [ ]:
for number in range(1, 21):
    if number % 2 == 0:
      print(number)

2
4
6
8
10
12
14
16
18
20

In [ ]:
number = 10
while number >= 1:
    print(number)
    number -= 1

10
9
8
7
6
5
4
3
2
1

In [ ]:
num = int(input("Enter a number: "))

total = 0
for i in range(1, num + 1):
    total += i

print("The sum of ", num, "is:", total)

# input

In [ ]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))


print(f"Hello, {name}! You are {age} years old.")

Enter your name: nour
Enter your age: 19
Hello, nour! You are 19 years old.

In [ ]:
color = input("What is your favorite color? ")

if color == 'blue':
    print("You have great taste!")
else:
    print("That's a nice color too!")

What is your favorite color? blue
You have great taste!

# bonus

In [ ]:
numbers = []
for i in range(5):
    number = int(input(f"Enter number {i+1}: "))
    numbers.append(number)

average = sum(numbers) / len(numbers)
print(f"The average of the numbers is: {average}")

largest = max(numbers)
smallest = min(numbers)
print(f"The largest number is: {largest}")
print(f"The smallest number is: {smallest}")

Enter number 1: 8
Enter number 2: 8
Enter number 3: 3
Enter number 4: 8
Enter number 5: 2
The average of the numbers is: 5.8
The largest number is: 8
The smallest number is: 2